body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: crimson !important;
}

.logitek img {
    width: 250px;
}

.navbar-brand {
    font-family: sans-serif;
    font-weight: bold;
    color: white !important;
}

#navbar {
    background: #5d53bc !important;
}

.container {
    padding-top: 20px ;
}

.logitek {
    border: 1px solid rgb(207, 207, 207);
    width: fit-content;
    padding: 20px;
    background: #5d53bc;
    background: linear-gradient(#5145ba);

}

.market h1 {
    font-size: 30px;
    color: white;
    padding-top: 10px;
}

.market button {
    background-color: aqua;
}

.market h2 {
    font-size: 15px;
}

.market p {
   font-weight: bolder; 
}

.market {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}